body {
    font-family: 'Open Sans', sans-serif;
}

button {
    height: 40px;
    width: 120px;
}

input {
    height: 45px;
    font-size: 18px;
    border-color: #ccc;
    width: 100%;
}

input[type="text"] {
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    border-radius: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 7px;
    border: solid 3px #c9c9c9;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border: solid 3px #28AADC;
    outline: none;
}

.vindigo-events {
    margin-bottom: 50px;
}

.vindigo-event {
    background: #f9f9f9;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
}

.event-header {
    font-size: 16px;
}
.event-message {
    font-size: 12px;
}

.test-drive-btn {
    background: #36449C;
}

.test-test {
    background: #1CB841;
    color: #fff;
    float: right;
}

.trip-statistic {
    font-size: 20px;
    font-weight: 500;
}