body {
    font-family: 'Open Sans', sans-serif;
}

button {
    height: 40px;
    width: 120px;
}

input {
    height: 45px;
    font-size: 18px;
    border-color: #ccc;
    width: 100%;
}

input[type="text"] {
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: none;
    border-radius: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 7px;
    border: solid 3px #c9c9c9;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border: solid 3px #0078E7;
    outline: none;
}

.vindigo-main-panel {
    background: #f9f9f9;
    /*border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding-left: 0;
    padding-right: 0;*/
    width: 25%;
}

.vindigo-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #37459D;
}

.vindigo-header h2 {
    color: #eee;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.vindigo-trip-form {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.vindigo-trip-form hr {
    border-color: #ccc;
}

.geofence-form {
    padding-left: 10px;
    padding-right: 10px;
}

.geofence-input h3 {
    text-align: center;
    font-size: 18px;
}

.show-geofence-form-btn {
    width: 100%;
}

.geofence-confirm-btn {
    background: #2abb67;
    width: 49%;
    float: right;
}

.geofence-cancel-btn {
    background: #e74c3c;
    width: 49%;
}

.geofence-list {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.geofence-card {
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
}

.vindigo-events {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.vindigo-event {
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
}

.event-header {
    font-size: 16px;
}

.event-message {
    font-size: 12px;
}

.test-drive-btn {
    background: #36449C;
    width: 49%;
}

.test-test {
    width: 49%;
    float: right;
}

.trip-stats {
    margin-top: 20px;
    text-align: center;
}

.trip-statistic {
    font-size: 15px;
}