body {
    font-family: 'Open Sans', sans-serif;
}

button {
    height: 40px;
    width: 120px;
}

input {
    height: 45px;
    font-size: 18px;
    border-color: #ccc;
    width: 100%;
}
h1, h2, h3 {
    margin: 0;
}

input[type="text"] {
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    box-shadow: none;
    border-radius: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 7px;
    border: solid 2px #c9c9c9;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border: solid 2px #0078E7;
    outline: none;
}

.vindigo-main-panel {
    background: #f9f9f9;
    width: 25%;
    float: left;
}

.vindigo-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1F3A93;
}

.vindigo-header h2 {
    color: #eee;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.vindigo-trip-form {
    padding-left: 10px;
    padding-right: 10px;
}

.vindigo-trip-form hr {
    border-color: #ccc;
}

.geofence-form {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.geofence-input h3 {
    text-align: center;
    font-size: 18px;
}

.geofence-input hr {
    border-color: #ccc;
}

.show-geofence-form-btn {
    width: 100%;
}

.geofence-confirm-btn {
    background: #2abb67;
    width: 49%;
    float: right;
}

.geofence-cancel-btn {
    width: 49%;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.geofence-list {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.geofence-card {
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
}

.vindigo-events {
    
}

.vindigo-event {
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
}

.geo-enter-event {
    background: #eafaf1;
}

.geo-exit-event {
    background: #ffe6e6;
}

.trip-info-event {

}

.event-header {
    font-size: 16px;
}

.event-message {
    font-size: 12px;
}

.event-icon {
    float: right;
    padding-top: 10px;
    font-size: 18px;
}

.event-start {
    color: #1F3A93;
}

.event-enter {
    color: #00b300;
    font-size: 22px;
}

.event-exit {
    color: #cc0000;
    font-size: 22px;
}

.event-end {
    color: #1F3A93;  
}

.test-drive-btn {
    background: #1F3A93;
    width: 100%;
    margin-bottom: 20px;
}

.test-test {
    background: #F62459;
    width: 100%;
}

.trip-stats {
    margin-top: 20px;
    text-align: center;
}

.trip-stats h3 {
    margin-bottom: 15px;
}

.trip-statistic {
    font-size: 15px;
}