<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Vindigo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>

        <!-- Mapbox -->
        <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
        <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' type='text/css' />

        <!-- Other -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/pure-min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <script src="/static/js/modernizr-2.8.3.min.js"></script>

        <style>
            body {
                margin:0;
                padding:0;
            }

            #map {
                top: 0;
                bottom: 0;
                width: 75%;
                height: 800px;
                border-color: #ABAAAA;
                border-width: 1px;
                border-style: solid;
            }
        </style>
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="vindigoMainPanel" class="vindigo-main-panel">

            <div class="vindigo-header">
                <h2>VINDIGO</h2>
            </div>
            <div id="vindigoTripForm" class="vindigo-trip-form">
                <div style="margin-top: 15px; margin-bottom: 5px">Choose a device</div>
                <select id="deviceSelect" style="margin-bottom: 20px"></select>
                <input id="start" type="text" placeholder="Start e.g. 2303 Commerce St."></input>
                <input id="end" type="text" placeholder="End e.g. 2901 Indiana St."></input>
                <button class="pure-button pure-button-primary test-drive-btn" onclick="getCoords()">Start Trip</button>
                
                <button id="addGeofenceBtn" class="pure-button pure-button-primary show-geofence-form-btn" onclick="showGeofenceForm()">+  Add Geofence</button>
            </div>

            <div id="geofenceForm" class="geofence-form">
                <div id="geofenceInput" class="geofence-input">
                    <h3>Add a Geofence</h3>
                    <input id="geofenceCenter" type="text" placeholder="Address of center"></input>
                    <input id="geofenceRadius" type="text" placeholder="Radius in meters"></input>
                    <input id="geofenceEnterMsg" type="text" placeholder="Entering message e.g. Hello"></input>
                    <input id="geofenceExitMsg" type="text" placeholder="Exiting message e.g. Goodbye"></input>
                    <button class="pure-button geofence-cancel-btn" onclick="cancelAddGeofence()">Cancel</button>
                    <button class="pure-button pure-button-primary geofence-confirm-btn" onclick="readGeofenceInput()">Add</button>
                </div>

                <hr>

                <button class="pure-button pure-button-primary test-test" onclick="testGetCoords()">Test</button>
            </div>

            <div id="tripStats" class="trip-stats">
                <h3>Trip Log</h3>
                <div id="tripDistance" class="trip-statistic"></div>
                <div id="tripDuration" class="trip-statistic"></div>
            </div>

            <div id="vindigoEvents" class="vindigo-events" style="margin-top: 20px"></div>
        </div>

        <div id="map" class=""></div>

        <!--
            <div id="geofenceList" class="geofence-list"></div>
        -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/static/js/MovingMarker.js"></script>
        <script src="/static/js/geofence.js"></script>
        <script src="/static/js/VindigoTrip.js"></script>
        <script src="/static/js/vindigo.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

    </body>
</html>