<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Vindigo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700' rel='stylesheet' type='text/css'>

        <!-- Mapbox -->
        <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
        <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' type='text/css' />

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <script src="/static/js/modernizr-2.8.3.min.js"></script>

        <style>
            body {
                margin:0;
                padding:0;
            }

            #map {
                top: 0;
                bottom: 0;
                width: 100%;
                height: 420px;
                border-color: #ABAAAA;
                border-width: 1px;
                border-style: solid;
            }
        </style>

    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="map"></div>

        <div class="container">

            <div class="col-md-6" style="width: 300px; margin-top: 30px">
                <input id="start" type="text" placeholder="Start"></input>
                <input id="end" type="text" placeholder="End"></input>
                <button class="pure-button pure-button-primary test-drive-btn" onclick="getCoords()">Test Drive</button>

                <button class="pure-button test-test" onclick="testGetCoords()">Test Test Drive</button>
            </div>

            <div class="col-md-6" style="margin-top: 20px">
                <h2 id="statsHeader">Trip Stats</h2>
                <div id="tripDistance" class="trip-statistic"></div>
                <div id="tripDuration" class="trip-statistic"></div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>


<script>
"use strict";

var statsHeader;

$(function() {
    statsHeader = $("#statsHeader");
    statsHeader.hide();
});

// Constants
const METERS_IN_MILE = 1609.34;
const MILES_CUTOFF = METERS_IN_MILE / 10;
const base = "https://api.mapbox.com/geocoding/v5/mapbox.places/";
const baseDirections = "https://api.mapbox.com/v4/directions/mapbox.driving/"
const key = "pk.eyJ1IjoidGFhcGVzaCIsImEiOiJjaWt4eW9iNXgwMHo4dnltM2x4eTJ4eHE3In0.04-WgulwzLNQTZLRinDiJw"

// Elements

// Set access token
L.mapbox.accessToken = 'pk.eyJ1IjoidGFhcGVzaCIsImEiOiJjaWt4eW9iNXgwMHo4dnltM2x4eTJ4eHE3In0.04-WgulwzLNQTZLRinDiJw';

/**
 * Initialize Mapbox
 */
var map = L.mapbox.map('map', 'mapbox.streets', {zoomControl: false}) 
    .setView([32.78194730000001, -96.79070819999998], 15);

map.doubleClickZoom.disable();
map.scrollWheelZoom.disable();

/**
 * For quick testing
 */
function testGetCoords() {
    var start = "2203+Commerce+St,+Dallas,+TX";
    var end = "2901+Indiana+St.+Dallas,+TX";

    var queryStart = base + start + ".json?access_token=" + key;
    var queryEnd = base + end + ".json?access_token=" + key;

    var startLat;
    var startLng;
    var endLat;
    var endLng;

    $.when(
        $.getJSON(queryStart, function( data ) {
            startLat = data.features[0].center[0];
            startLng = data.features[0].center[1];
        }),

        $.getJSON(queryEnd, function( data ) {
            endLat = data.features[0].center[0];
            endLng = data.features[0].center[1];
        }))
    .then(function() {
        //addMarkers(startLat, startLng, endLat, endLng);
        drawRoute(startLat, startLng, endLat, endLng);
    });
}

/**
 * Convert text location of start/end to LatLng coordinates and start trip
 */
function getCoords() {
    var start = $("#start").val();  // 2203 Commerce St, Dallas, TX 75201
    var end = $("#end").val();      // 2901 Indiana St., Dallas, TX

    if (start.length == 0 || end.length == 0) {
        // Display input error
        return;
    }

    var queryStart = base + start.replace(" ", "+") + ".json?access_token=" + key;
    var queryEnd = base + end.replace(" ", "+") + ".json?access_token=" + key;

    var startLat;
    var startLng;
    var endLat;
    var endLng;

    $.when(
        $.getJSON(queryStart, function( data ) {
            startLat = data.features[0].center[0];
            startLng = data.features[0].center[1];
        }),

        $.getJSON(queryEnd, function( data ) {
            endLat = data.features[0].center[0];
            endLng = data.features[0].center[1];
        }))
    .then(function() {
        //addMarkers(startLat, startLng, endLat, endLng);
        drawRoute(startLat, startLng, endLat, endLng);
    });
}

/**
 * Given two LatLng coordinates, compute the coordinates of the midpoint
 */
function getMidpoint(startLat, startLng, endLat, endLng) {
    /* degrees = radians * (180/pi)
     * radians = degrees * (pi/180)
     */
    var dLng = (endLng - startLng) * (Math.PI / 180);

    var lat1 = startLat * (Math.PI / 180);
    var lat2 = endLat * (Math.PI / 180);
    var lng1 = startLng * (Math.PI / 180);

    var bx = Math.cos(lat2) * Math.cos(dLng);
    var by = Math.cos(lat2) * Math.sin(dLng);
    
    var lat3 = 
        Math.atan2(Math.sin(lat1) + Math.sin(lat2), Math.sqrt((Math.cos(lat1) + bx) * (Math.cos(lat1) + bx) + by * by));
    var lng3 = lng1 + Math.atan2(by, Math.cos(lat1) + bx);

    return [lat3 * (180 / Math.PI), lng3 * (180 / Math.PI)];
}

/**
 * Add markers to map for start and destination
 */
function addMarkers(startLat, startLng, endLat, endLng) {
    var geoJson = {
        "type": "FeatureCollection",

        "features": [{
            "type": "Feature",
            "properties": {
                "title": "Start",
                "description": "Start",
                "marker-size": "large",
                "marker-symbol": "circle",
                "marker-color": "#37459D"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [startLat, startLng]
            }
        }, {
            "type": "Feature",
            "properties": {
                "title": "End",
                "description": "Destination",
                "marker-size": "large",
                "marker-symbol": "embassy",
                "marker-color": "#37459D"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [endLat, endLng]
            }
        }]
    };

    var featureLayer = L.mapbox.featureLayer().addTo(map);
    featureLayer.setGeoJSON(geoJson);
    map.fitBounds(featureLayer.getBounds());
}

/**
 * Draw a driving route on the map between two LatLng coordinates
 * Test: startLat: 
 */
function drawRoute(startLat, startLng, endLat, endLng) {
    var distance;
    var duration;

    var query = baseDirections + 
        startLat + "," + startLng + ";" + endLat + "," + endLng + ".json?access_token=" + key;
    
    $.getJSON(query, function(data) {
        var lineStyle = {
            "color": "#1FBAD6",
            "weight": 5,
            "opacity": 0.65
        };

        L.geoJson(data.routes[0].geometry, { style: lineStyle }).addTo(map);

        distance = data.routes[0].distance;
        duration = data.routes[0].duration;

        var distanceStr = formatDistance(distance);
        var durationStr = formatDuration(duration);

        
        if (!statsHeader.is(":visible")) {
            statsHeader.show();
        }

        $("#tripDistance").html(distanceStr);
        $("#tripDuration").html(durationStr);
    });

    var geoJson = {
        type: "FeatureCollection",
        features: [
            {
                type: "Feature",
                
                properties: {
                    "title": "Start",
                    "description": "",
                    "marker-size": "large",
                    "marker-symbol": "star",
                    "marker-color": "#37459D",             
                },
                
                geometry: {
                    type: "Point",
                    coordinates: [startLat, startLng]
                }
            },
            {
                type: "Feature",
                
                properties: {
                    "title": "End",
                    "description": "",
                    "marker-size": "large",
                    "marker-symbol": "embassy",
                    "marker-color": "#37459D",   
                },
                
                geometry: {
                    type: "Point",
                    coordinates: [endLat, endLng]
                }
            }
        ]
    };

    /* Automatic routing
    var origin = geoJson.features[0];
    var destination = geoJson.features[1];
    var directions = L.mapbox.directions({
        profile: 'mapbox.driving'
    });
    directions.setOrigin(origin).setDestination(destination).query();
    var directionsLayer = L.mapbox.directions.layer(directions).addTo(map);
    var directionsRoutesControl = L.mapbox.directions.routesControl('routes', directions).addTo(map);
    */

    var featureLayer = L.mapbox.featureLayer().addTo(map);
    featureLayer.setGeoJSON(geoJson);
    map.fitBounds(featureLayer.getBounds());
}

/**
 * Get string representation of input distance (meters)
 */
function formatDistance(distance) {
    if (distance < MILES_CUTOFF) {
        return distance + " ft";
    } else if (distance <= METERS_IN_MILE) {
        return (distance / METERS_IN_MILE).toFixed(2) + " mile";
    } else {
        return (distance / METERS_IN_MILE).toFixed(2) + " miles";
    }
}

/**
 * Get string representation of input duration (seconds)
 */
function formatDuration(duration) {
    if (duration > 3600) {
        var hours = Math.floor(duration / 3600);
        var remainingSeconds = duration % 3600;
        var minutes = Math.floor(remainingSeconds / 60);
        return hours + " h " + minutes + " minutes";
    } else if (duration > 60) {
        var minutes = Math.floor(duration / 60);
        var remainingSeconds = duration % 60;
        return minutes + " min " + remainingSeconds + " sec";
    } else {
        return duration + " sec";
    }
}

</script>

    </body>
</html>